Source: fondos
Section: x11
Priority: optional
Maintainer: Manu Cogolludo <makova65@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.0.0
Homepage: https://www.makova.blogspot.com/

Package: fondos
Architecture: all
Description: Creacion de un PPA para fondos
 Primer PPA sobre fondos de pantalla para Debian testing
